* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: #9BB8CD;
    width: 100vw;
}

header {
    background-color: #000;
    color: #fff;
    padding: 15px;
    padding-left: 20px;
    width: 100vw;
}

.container {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 10px;
    width: max-content;
    height: max-content;
}

.new-game {
    width: 150px;
    height: 120px;
    background-color: #666666;
    border-radius: 10px;
    display: grid;
    place-items: center;
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    border-radius: 10px;
}
